.card-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}

.card {
	display: block;
	border-radius: 10px;
	margin: 18px 18px 18px 0px;
	width: 230px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}

.card-cover img {
	width: 100%;
	object-fit: cover;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-body .event-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.card-body .event-card .info {
	display: flex;
	flex-direction: column;
}

.info h5 {
	margin-bottom: 8px;
}

.info p {
	font-size: 14px;
	font-weight: 400;
	color: gray;
}

.btn {
	display: inline-block;
	border: none;
	padding: 7px 14px 7px 14px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.5;
}

.btn:focus {
	outline: none;
	border: 2px solid rebeccapurple;
}

.btn.btn-circle {
	border-radius: 10px;
	background-color: #4227fd;
	color: white;
}
